@import './_variables.scss';
@import './_mixins.scss';

body {
  margin: 0 0;
  background-color: $light;
}
h1 {
  color: $primary;
}
h3,
p {
  color: $light_font_color;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

ul {
  list-style-type: none;
}

button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: $light;
  box-shadow: 0 3px 5px 0 darken($primary, 40%);
  &:active {
    transform: translateY(4px);
    background-color: darken($primary, 5%);
    box-shadow: none;
  }
}

#root {
  height: 100vh;
}

// custom
.primary {
  background-color: $primary;
}

// main
.app-wrap {
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  height: 50px;
  @include flex(center);
  background-color: $dark;
  color: $primary;
  .nav-list {
    margin: 0 0;
    @include flex(flex-end);
    width: 85%;
    height: 100%;
    border: $dark 3px solid;
    .nav-link {
      @include flex(center, center);
      width: 150px;
      height: 100%;
      text-decoration: none;
      transition: box-shadow 0.2s linear, color 0.1s linear;
      color: $primary;
      &.active {
        box-shadow: 0 -5px 0 0 $light inset;
        color: $light;
      }
    }
  }
}
// pages
.pages {
  width: 100%;
  @include flex(center);
  .page {
    width: 85%;
    &.home {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'welcome external-links'
        'projects projects';
    }
    &.contact {
      width: 60% !important;
    }
  }
  .angle-edge {
    width: 100%;
    height: 100%;
    background-color: darken($light, 3%);
    position: fixed;
    z-index: -1;
    -webkit-clip-path: polygon(100% 57%, 100% 84%, 0 100%, 25% 0);
    clip-path: polygon(100% 57%, 100% 84%, 0 100%, 25% 0);
  }
}

// components
@media only screen and (min-width: 600px) {
  .welcome {
    grid-area: welcome;
    margin: 5% 0 5% 0;
    height: 250px;
    width: 500px;
    @include flex(center, null, column);
    position: relative;
    -webkit-clip-path: polygon(0 0, 0 100%, 70% 0);
    clip-path: polygon(0 0, 0 100%, 70% 0);
    background-color: $dark;
    .inner {
      margin-left: 2%;
      margin-bottom: 20%;
      .subtitle {
        padding: 0.5% 0 0.5% 0;
        color: white;
        font-weight: 500;
        margin: 0 0;
        &.bold {
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.external-links {
  @include flex(flex-end, center, row, null);
  grid-area: external-links;
  margin-bottom: 10%;
  span {
    margin: 5px;
    color: $main_font_color;
    font-size: 1.5em;
  }
}
.projects {
  grid-area: projects;
  .projects-gallery {
    @include flex(flex-start, null, null, wrap);
    .card {
      margin: 10px;
      .image-wrapper {
        position: relative;
      }
      .title {
        padding: 2% 0 2% 0;
        color: $main_font_color;
        font-weight: 800;
      }
      .description {
        color: $light_font_color;
        font-size: 0.9em;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  .title {
    color: $light !important;
    text-decoration: underline;
  }
}
