@import './_variables.scss';

@mixin flex(
  $justify: null,
  $align: null,
  $flex_direction: null,
  $flex_wrap: null
) {
  display: flex;
  justify-content: #{$justify};
  align-items: #{$align};
  flex-direction: #{$flex_direction};
  flex-wrap: #{$flex_wrap};
}
body {
  margin: 0 0;
  background-color: $light;
}
h1 {
  color: $primary;
}
h3,
p {
  color: $light_font_color;
}
a {
  text-decoration: none;
}
#root {
  height: 100vh;
}
// main
.app-wrap {
  height: 100%;
  width: 100%;
}
.navbar-container {
  background-color: $dark;
  color: $primary;
  width: 100%;
  height: 50px;
  @include flex(center);
  .nav-list {
    margin: 0 0;
    @include flex(flex-end);
    list-style-type: none;
    height: 100%;
    width: 85%;
    border: $dark 3px solid;
    .nav-link {
      @include flex(center, center);
      width: 150px;
      height: 100%;
      text-decoration: none;
      transition: box-shadow 0.2s linear, color 0.1s linear;
      color: $primary;
      &.active {
        box-shadow: 0 -5px 0 0 $light inset;
        color: $light;
      }
    }
  }
}
// pages
.pages-container {
  width: 100%;
  @include flex(center);
  .page {
    width: 85%;
  }
}
// components
.welcome {
  height: 20vh;
  @include flex(center, null, column);
  position: relative;
  padding-bottom: 1%;
  .title {
    padding-top: 1%;
  }
  .subtitle {
    padding: 0.5% 0 0.5% 0;
    color: $light_font_color;
    font-weight: 500;
    margin: 0 0;
    &.bold {
      font-weight: bold;
    }
  }
}
.projects-container {
  .projects-title {
    padding: 0 0 0 5%;
  }
  .projects-gallery {
    @include flex(center, null, null, wrap);
    .card {
      margin: 10px;
      .title {
        padding: 2% 0 2% 0;
        color: $main_font_color;
        font-weight: 800;
      }
      .description {
        color: $light_font_color;
        font-size: 0.9em;
      }
    }
  }
}
