@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  margin: 0;
  background-color: #f2f2f2; }

h1 {
  color: #1abc9c; }

h3,
p {
  color: #566573; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

ul {
  list-style-type: none; }

button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  box-shadow: 0 3px 5px 0 #010907; }
  button:active {
    transform: translateY(4px);
    background-color: #17a689;
    box-shadow: none; }

#root {
  height: 100vh; }

.primary {
  background-color: #1abc9c; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: url(https://i.postimg.cc/PxgRDwKD/codeBG.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px); }

.app-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #17202a;
  color: #1abc9c; }
  .navbar .nav-list {
    margin: 0 0;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height: 100%;
    border: #17202a 3px solid; }
    .navbar .nav-list .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      text-decoration: none;
      transition: box-shadow 0.2s linear, color 0.1s linear;
      color: #1abc9c; }
      .navbar .nav-list .nav-link.active {
        box-shadow: 0 -5px 0 0 #f2f2f2 inset;
        color: #f2f2f2; }

.pages {
  width: 100%;
  display: flex;
  justify-content: center; }
  .pages .page {
    width: 85%; }
    .pages .page.home {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'welcome external-links' 'projects projects'; }
    .pages .page.contact {
      width: 60% !important; }

@media only screen and (min-width: 600px) {
  .welcome {
    grid-area: welcome;
    margin: 5% 0 5% 0;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    -webkit-clip-path: polygon(0 0, 0 100%, 70% 0);
    clip-path: polygon(0 0, 0 100%, 70% 0);
    background-color: #17202a; }
    .welcome .inner {
      margin-left: 2%;
      margin-bottom: 20%; }
      .welcome .inner .subtitle {
        padding: 0.5% 0 0.5% 0;
        color: white;
        font-weight: 500;
        margin: 0 0; }
        .welcome .inner .subtitle.bold {
          color: white;
          font-weight: bold; } }

.external-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  grid-area: external-links;
  margin-bottom: 10%; }
  .external-links span {
    margin: 5px;
    color: #1c2833;
    font-size: 1.5em; }

.projects {
  grid-area: projects; }
  .projects .projects-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .projects .projects-gallery .card {
      margin: 10px; }
      .projects .projects-gallery .card .image-wrapper {
        position: relative; }
      .projects .projects-gallery .card .title {
        padding: 2% 0 2% 0;
        color: #1c2833;
        font-weight: 800; }
      .projects .projects-gallery .card .description {
        color: #566573;
        font-size: 0.9em; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }
  .overlay .title {
    color: #f2f2f2 !important;
    text-decoration: underline; }
