body {
  margin: 0 0;
  background-color: #f7f5f6; }

a:visited {
  color: #5dade2; }

#root {
  border: red 3px solid;
  height: 100vh; }

.wrap {
  height: 100%;
  width: 100%; }

.navbar {
  background-color: #17202a;
  color: #1abc9c;
  width: 100%;
  height: 50px; }
  .navbar .nav-list {
    margin: 0 0;
    display: flex;
    list-style-type: none;
    height: 100%; }
    .navbar .nav-list .nav-link {
      display: flex;
      width: 150px;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: box-shadow 0.2s linear, color 0.1s linear;
      color: #1abc9c; }
      .navbar .nav-list .nav-link.active {
        box-shadow: 0 -5px 0 0 #fff inset;
        color: #fff; }
